/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body{
  cursor: default;
  /* position:fixed; */
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
@font-face {
  font-family: Poppins;
  src: local('Poppins'), url(./font/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Matter;
  src: local('Matter'), url(./font/Matter-Regular.ttf) format('truetype');
}




/* * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */



