.mobile-home{
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.mobile-home-border{
  font-weight: 600;
  font-size: 8.5vw;
  letter-spacing: -0.03em;
  color: #FFA500;
  margin-top: 0vw;
}

hr{
    border: 2px solid #FFA500;
    width: 10vw;
    margin-top: -6vw;
}
.mobile-features{
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: -0.8vw;
    color: #FFFFFF;
}

.mobile-subscribe{
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: -0.8vw;
  color: #FFFFFF;
}

.button-wrap-mobile img{
    width: 100%;
}
.mobile-logo img{
    width: 100%;

}

.hamburger-wrap img{
  width: 100%;
}


  .mobile-home-image img{
    /* width: 80%; */
  }

  .mobile-android img{
    width: 90%;
  }

  .bridge-mobile{
    border: 1px solid solid blue;
    width: 50%;
  }

  .mobile-phone-one img{
    width: 80%;
  }

  .mobile-phone-one{
    width: 100%;
  }

  .customer img{
    width: 100%;
  }

.mobile-intro-button{
  /* border: 1px solid red; */
}
    
.mobile-intro-button img{
 width: 90%;
}

.mobile-manage-header{
  font-size: 28px;
line-height: 140%;
/* or 39px */

letter-spacing: -0.03em;
font-weight: 600;
}

#manage-div{
  border: 3px solid rgba(255, 165, 0, 1);
}

#footer-feature{
margin-right: 3%;
}

#footer-faqs{
  margin-right: 3%;
}

#footer-subs{
  
}

@media (max-width: 280px){ 
  .mobile-home-image img{
    width: 70%;
  }

  /* .numbers{
    width: 80%;
    padding-left: 5px;
  } */
}

@media (min-width: 320px){ 
  .mobile-home-image img{
    width: 100%;
  }
}

.footer-download img{
  width: 100%;
}

.mobile-wrap img{
  width: 100%;
}


